.Home {
  margin: 0 20rem;
  display: flex;
  flex-direction: column;
}

.Img {
  width: 30rem;
  height: 30rem;
  align-self: center;
}

.Img > * {
  max-width: 30rem;
  max-height: 30rem;
  width: auto;
  height: auto;
  border-radius: 1rem;
}

p > * {
  color: var(--lightYellow);
}

span {
  text-decoration: underline;
}

span:hover {
  cursor: pointer;
}

.CourseList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

@media (max-width: 1200px) {
  .CourseList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .CourseList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .Home {
    margin: 0 5rem;
  }
}
